USE [master]
GO
/****** Object:  Database [HeThongBanTayVang]    Script Date: 19/06/2026 9:27:39 SA ******/
CREATE DATABASE [HeThongBanTayVang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HeThongBanTayVang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HeThongBanTayVang.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HeThongBanTayVang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HeThongBanTayVang_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HeThongBanTayVang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HeThongBanTayVang]
GO
/****** Object:  Schema [PhucHuy]    Script Date: 19/06/2026 9:27:40 SA ******/
CREATE SCHEMA [PhucHuy]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Username] [nvarchar](100) NULL,
	[Action] [nvarchar](100) NULL,
	[Method] [nvarchar](10) NULL,
	[Path] [nvarchar](500) NULL,
	[IpAddress] [nvarchar](50) NULL,
	[Details] [nvarchar](max) NULL,
	[Timestamp] [datetime] NOT NULL,
	[StatusCode] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAITHI]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAITHI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTaiKhoan] [int] NULL,
	[IdDeThi] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaDeThi] [nvarchar](50) NULL,
	[ThoiGianNop] [datetime] NULL,
	[TongDiem] [float] NULL,
	[SoCauDung] [int] NULL,
	[TongSoCau] [int] NULL,
	[TongSoCanhBao] [int] NULL,
	[ThoiGianBatDau] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[LyDoKetThuc] [nvarchar](255) NULL,
	[DanhGiaKhoa] [nvarchar](max) NULL,
	[CongBoRieng] [bit] NOT NULL,
	[ThoiGianCongBoRieng] [datetime] NULL,
	[NguoiCongBoRieng] [int] NULL,
	[IdKyThi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CANHBAOGIANLAN]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANHBAOGIANLAN](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBaiThi] [int] NULL,
	[LoaiCanhBao] [nvarchar](100) NULL,
	[MoTa] [nvarchar](max) NULL,
	[ThoiGian] [datetime] NULL,
	[SoLanViPham] [int] NULL,
	[MucDoNghiemTrong] [nvarchar](50) NULL,
	[CorrelationId] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAUHOI]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHOI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdLoaiCauHoi] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[DaXoa] [bit] NULL,
	[DoKho] [nvarchar](50) NULL,
	[KhoaPhong] [nvarchar](100) NULL,
	[HinhAnh] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETLAMBAI]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETLAMBAI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBaiThi] [int] NULL,
	[IdCauHoi] [int] NULL,
	[IdLuaChonDaChon] [int] NULL,
	[ThoiGianTraLoi] [datetime] NULL,
	[DaLuu] [bit] NULL,
	[CauTraLoiTuLuan] [nvarchar](max) NULL,
	[DiemDatDuoc] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETHI]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETHI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDeThi] [nvarchar](50) NULL,
	[TenDeThi] [nvarchar](255) NULL,
	[ThoiGianLamBai] [int] NULL,
	[TongDiem] [float] NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[LinkTruyCap] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[ChecksumData] [nvarchar](500) NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[KhoaPhong] [nvarchar](200) NULL,
	[CongBoKetQua] [bit] NOT NULL,
	[NguoiCongBo] [int] NULL,
	[ThoiGianCongBo] [datetime] NULL,
	[KyThiId] [int] NULL,
	[SoCauDungToiThieu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETHI_CAUHOI]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETHI_CAUHOI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDeThi] [int] NULL,
	[IdCauHoi] [int] NULL,
	[TrongSo] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamAssignments]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamAssignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExamId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
	[AssignedBy] [int] NULL,
	[CustomStartTime] [datetime2](7) NULL,
	[ExtraMinutes] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ExamAssignments_ExamUser] UNIQUE NONCLUSTERED 
(
	[ExamId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KyThi]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyThi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaKyThi] [nvarchar](50) NOT NULL,
	[TenKyThi] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](1000) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[ThoiGianBatDau] [datetime2](7) NULL,
	[ThoiGianKetThuc] [datetime2](7) NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[DonViToChuc] [nvarchar](100) NULL,
	[KhoaPhongId] [int] NULL,
	[SoCauDungToiThieu] [int] NULL,
	[TongSoCauHoi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaKhoa] [nvarchar](20) NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA_PHONG]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA_PHONG](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaKhoa] [nvarchar](50) NOT NULL,
	[TenKhoa] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](1000) NULL,
	[TrangThai] [bit] NOT NULL,
	[DeptManagerId] [int] NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoaPhongBan]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaPhongBan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaKhoa] [nvarchar](50) NOT NULL,
	[TenKhoa] [nvarchar](200) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[QuanLyKhoa] [nvarchar](200) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[NgayCapNhat] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSU_THI]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSU_THI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdThiSinh] [int] NOT NULL,
	[IdDeThi] [int] NOT NULL,
	[LanThi] [int] NOT NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[ThoiGianNop] [datetime] NULL,
	[SoCauDung] [int] NULL,
	[TongSoCau] [int] NULL,
	[DiemSo]  AS (case when [TongSoCau]>(0) then CONVERT([decimal](5,2),([SoCauDung]*(10.0))/[TongSoCau]) else (0) end) PERSISTED,
	[SoLanGianLan] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[XepLoai]  AS (case when [TongSoCau] IS NULL OR [TongSoCau]=(0) then N'Chưa chấm' when ([SoCauDung]*(10.0))/[TongSoCau]>=(9.0) then N'Xuất sắc' when ([SoCauDung]*(10.0))/[TongSoCau]>=(8.0) then N'Giỏi' when ([SoCauDung]*(10.0))/[TongSoCau]>=(6.5) then N'Khá' when ([SoCauDung]*(10.0))/[TongSoCau]>=(5.0) then N'Trung bình' else N'Không đạt' end) PERSISTED NOT NULL,
	[NgayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAICAUHOI]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICAUHOI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGTHAOTAC]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGTHAOTAC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBaiThi] [int] NULL,
	[LoaiThaoTac] [nvarchar](100) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[ThoiGian] [datetime] NULL,
	[DiaChi_IP] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](max) NULL,
	[IdTaiKhoan] [int] NULL,
	[TenDangNhap] [nvarchar](100) NULL,
	[PhuongThuc] [nvarchar](10) NULL,
	[DuongDan] [nvarchar](500) NULL,
	[MaHttp] [int] NULL,
	[KhoaPhong] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUACHON]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUACHON](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCauHoi] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[LaDapAnDung] [bit] NULL,
	[ThuTu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReadAt] [datetime2](7) NULL,
	[RelatedUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIENDANGNHAP]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIENDANGNHAP](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTaiKhoan] [int] NULL,
	[Token] [nvarchar](max) NULL,
	[ThoiGianTao] [datetime] NULL,
	[ThoiGianHetHan] [datetime] NULL,
	[IP] [nvarchar](50) NULL,
	[ThietBi_UserAgent] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [nvarchar](50) NULL,
	[TenDangNhap] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](255) NULL,
	[ChucDanh] [nvarchar](100) NULL,
	[KhoaPhong] [nvarchar](100) NULL,
	[HoTen] [nvarchar](255) NULL,
	[IdVaiTro] [int] NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[LanDangNhapCuoi] [datetime2](7) NULL,
	[IdKhoaQuanLy] [int] NULL,
	[KhoaQuanLyId] [int] NULL,
	[Email] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN_VAITRO]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN_VAITRO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTaiKhoan] [int] NULL,
	[IdVaiTro] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaVaiTro] [nvarchar](50) NULL,
	[TenVaiTro] [nvarchar](100) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PhucHuy].[RefreshTokens]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PhucHuy].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](500) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[IpAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PhucHuy].[UserSessions]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PhucHuy].[UserSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[LastActivityAt] [datetime2](7) NULL,
	[IpAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[EndReason] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getutcdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[BAITHI] ADD  DEFAULT ((0)) FOR [CongBoRieng]
GO
ALTER TABLE [dbo].[CAUHOI] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[CAUHOI] ADD  CONSTRAINT [DF_CAUHOI_DoKho]  DEFAULT ('1') FOR [DoKho]
GO
ALTER TABLE [dbo].[CHITIETLAMBAI] ADD  DEFAULT ((0)) FOR [DaLuu]
GO
ALTER TABLE [dbo].[DETHI] ADD  DEFAULT ((0)) FOR [CongBoKetQua]
GO
ALTER TABLE [dbo].[ExamAssignments] ADD  DEFAULT (getutcdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[ExamAssignments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[KyThi] ADD  DEFAULT ('DangChuanBi') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KyThi] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KHOA] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[KHOA] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KHOA_PHONG] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[KHOA_PHONG] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhoaPhongBan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhoaPhongBan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhoaPhongBan] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[LICHSU_THI] ADD  DEFAULT ((1)) FOR [LanThi]
GO
ALTER TABLE [dbo].[LICHSU_THI] ADD  DEFAULT ((0)) FOR [SoLanGianLan]
GO
ALTER TABLE [dbo].[LICHSU_THI] ADD  DEFAULT (N'DangThi') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LICHSU_THI] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('Info') FOR [Type]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [PhucHuy].[RefreshTokens] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [PhucHuy].[RefreshTokens] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [PhucHuy].[UserSessions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BAITHI]  WITH CHECK ADD FOREIGN KEY([IdDeThi])
REFERENCES [dbo].[DETHI] ([Id])
GO
ALTER TABLE [dbo].[BAITHI]  WITH CHECK ADD FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TAIKHOAN] ([Id])
GO
ALTER TABLE [dbo].[BAITHI]  WITH CHECK ADD  CONSTRAINT [FK_BAITHI_KyThi] FOREIGN KEY([IdKyThi])
REFERENCES [dbo].[KyThi] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BAITHI] CHECK CONSTRAINT [FK_BAITHI_KyThi]
GO
ALTER TABLE [dbo].[CANHBAOGIANLAN]  WITH CHECK ADD FOREIGN KEY([IdBaiThi])
REFERENCES [dbo].[BAITHI] ([Id])
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD FOREIGN KEY([IdLoaiCauHoi])
REFERENCES [dbo].[LOAICAUHOI] ([Id])
GO
ALTER TABLE [dbo].[CHITIETLAMBAI]  WITH CHECK ADD FOREIGN KEY([IdBaiThi])
REFERENCES [dbo].[BAITHI] ([Id])
GO
ALTER TABLE [dbo].[CHITIETLAMBAI]  WITH CHECK ADD FOREIGN KEY([IdCauHoi])
REFERENCES [dbo].[CAUHOI] ([Id])
GO
ALTER TABLE [dbo].[CHITIETLAMBAI]  WITH CHECK ADD FOREIGN KEY([IdLuaChonDaChon])
REFERENCES [dbo].[LUACHON] ([Id])
GO
ALTER TABLE [dbo].[DETHI]  WITH CHECK ADD  CONSTRAINT [FK_DETHI_KyThi] FOREIGN KEY([KyThiId])
REFERENCES [dbo].[KyThi] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DETHI] CHECK CONSTRAINT [FK_DETHI_KyThi]
GO
ALTER TABLE [dbo].[DETHI_CAUHOI]  WITH CHECK ADD FOREIGN KEY([IdCauHoi])
REFERENCES [dbo].[CAUHOI] ([Id])
GO
ALTER TABLE [dbo].[DETHI_CAUHOI]  WITH CHECK ADD FOREIGN KEY([IdDeThi])
REFERENCES [dbo].[DETHI] ([Id])
GO
ALTER TABLE [dbo].[ExamAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ExamAssignments_Exam] FOREIGN KEY([ExamId])
REFERENCES [dbo].[DETHI] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamAssignments] CHECK CONSTRAINT [FK_ExamAssignments_Exam]
GO
ALTER TABLE [dbo].[ExamAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ExamAssignments_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[TAIKHOAN] ([Id])
GO
ALTER TABLE [dbo].[ExamAssignments] CHECK CONSTRAINT [FK_ExamAssignments_User]
GO
ALTER TABLE [dbo].[KyThi]  WITH CHECK ADD  CONSTRAINT [FK_KyThi_KhoaPhong] FOREIGN KEY([KhoaPhongId])
REFERENCES [dbo].[KHOA_PHONG] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[KyThi] CHECK CONSTRAINT [FK_KyThi_KhoaPhong]
GO
ALTER TABLE [dbo].[KHOA_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_KHOA_PHONG_DeptManager] FOREIGN KEY([DeptManagerId])
REFERENCES [dbo].[TAIKHOAN] ([Id])
GO
ALTER TABLE [dbo].[KHOA_PHONG] CHECK CONSTRAINT [FK_KHOA_PHONG_DeptManager]
GO
ALTER TABLE [dbo].[LICHSU_THI]  WITH CHECK ADD  CONSTRAINT [FK_LICHSU_THI_DeThi] FOREIGN KEY([IdDeThi])
REFERENCES [dbo].[DETHI] ([Id])
GO
ALTER TABLE [dbo].[LICHSU_THI] CHECK CONSTRAINT [FK_LICHSU_THI_DeThi]
GO
ALTER TABLE [dbo].[LICHSU_THI]  WITH CHECK ADD  CONSTRAINT [FK_LICHSU_THI_ThiSinh] FOREIGN KEY([IdThiSinh])
REFERENCES [dbo].[TAIKHOAN] ([Id])
GO
ALTER TABLE [dbo].[LICHSU_THI] CHECK CONSTRAINT [FK_LICHSU_THI_ThiSinh]
GO
ALTER TABLE [dbo].[LOGTHAOTAC]  WITH CHECK ADD FOREIGN KEY([IdBaiThi])
REFERENCES [dbo].[BAITHI] ([Id])
GO
ALTER TABLE [dbo].[LOGTHAOTAC]  WITH CHECK ADD  CONSTRAINT [FK_LOGTHAOTAC_TaiKhoan] FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TAIKHOAN] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[LOGTHAOTAC] CHECK CONSTRAINT [FK_LOGTHAOTAC_TaiKhoan]
GO
ALTER TABLE [dbo].[LUACHON]  WITH CHECK ADD FOREIGN KEY([IdCauHoi])
REFERENCES [dbo].[CAUHOI] ([Id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TAIKHOAN] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_UserId]
GO
ALTER TABLE [dbo].[PHIENDANGNHAP]  WITH CHECK ADD FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TAIKHOAN] ([Id])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([KhoaQuanLyId])
REFERENCES [dbo].[KHOA] ([Id])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_KhoaQuanLy] FOREIGN KEY([IdKhoaQuanLy])
REFERENCES [dbo].[KHOA_PHONG] ([Id])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_KhoaQuanLy]
GO
ALTER TABLE [dbo].[TAIKHOAN_VAITRO]  WITH CHECK ADD FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TAIKHOAN] ([Id])
GO
ALTER TABLE [dbo].[TAIKHOAN_VAITRO]  WITH CHECK ADD FOREIGN KEY([IdVaiTro])
REFERENCES [dbo].[VAITRO] ([Id])
GO
ALTER TABLE [PhucHuy].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TAIKHOAN] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [PhucHuy].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_UserId]
GO
ALTER TABLE [PhucHuy].[UserSessions]  WITH CHECK ADD  CONSTRAINT [FK_UserSessions_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TAIKHOAN] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [PhucHuy].[UserSessions] CHECK CONSTRAINT [FK_UserSessions_UserId]
GO
/****** Object:  StoredProcedure [PhucHuy].[CleanupExpiredTokens]    Script Date: 19/06/2026 9:27:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [PhucHuy].[CleanupExpiredTokens]
    AS
    BEGIN
        SET NOCOUNT ON;
        
        DECLARE @DeletedTokens int = 0;
        DECLARE @DeletedSessions int = 0;
        
        -- Delete expired refresh tokens
        DELETE FROM RefreshTokens 
        WHERE ExpiresAt <= GETDATE() OR IsUsed = 1 OR IsRevoked = 1;
        SET @DeletedTokens = @@ROWCOUNT;
        
        -- Mark expired sessions as inactive
        UPDATE UserSessions 
        SET IsActive = 0, EndReason = 'Expired', LastActivityAt = GETDATE()
        WHERE ExpiresAt <= GETDATE() AND IsActive = 1;
        SET @DeletedSessions = @@ROWCOUNT;
        
        PRINT 'Cleanup completed: ' + CAST(@DeletedTokens AS varchar) + ' tokens deleted, ' + CAST(@DeletedSessions AS varchar) + ' sessions expired';
    END
    

GO
USE [master]
GO
