USE [HeThongBanTayVang]
GO
/****** Object:  User [PhucHuy]    Script Date: 21/05/2026 1:33:20 CH ******/
CREATE USER [PhucHuy] FOR LOGIN [PhucHuy] WITH DEFAULT_SCHEMA=[PhucHuy]
GO
ALTER ROLE [db_owner] ADD MEMBER [PhucHuy]
GO
/****** Object:  Schema [PhucHuy]    Script Date: 21/05/2026 1:33:20 CH ******/
CREATE SCHEMA [PhucHuy]
GO
/****** Object:  Table [dbo].[BAITHI]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAITHI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTaiKhoan] [int] NULL,
	[IdDeThi] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaDeThi] [nvarchar](50) NULL,
	[ThoiGianNop] [datetime] NULL,
	[TongDiem] [float] NULL,
	[SoCauDung] [int] NULL,
	[TongSoCau] [int] NULL,
	[TongSoCanhBao] [int] NULL,
	[ThoiGianBatDau] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[LyDoKetThuc] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CANHBAOGIANLAN]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANHBAOGIANLAN](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBaiThi] [int] NULL,
	[LoaiCanhBao] [nvarchar](100) NULL,
	[MoTa] [nvarchar](max) NULL,
	[ThoiGian] [datetime] NULL,
	[SoLanViPham] [int] NULL,
	[MucDoNghiemTrong] [nvarchar](50) NULL,
	[CorrelationId] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaThi]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaThi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KyThiId] [int] NOT NULL,
	[DeThiId] [int] NULL,
	[TenCa] [nvarchar](100) NOT NULL,
	[ThoiGianBatDau] [datetime2](7) NULL,
	[ThoiGianKetThuc] [datetime2](7) NULL,
	[SoLuongToiDa] [int] NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAUHOI]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHOI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDanhMuc] [int] NULL,
	[IdLoaiCauHoi] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[Diem] [float] NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
	[DaXoa] [bit] NULL,
	[DoKho] [nvarchar](50) NULL,
	[KhoaPhong] [nvarchar](100) NULL,
	[HinhAnh] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETLAMBAI]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETLAMBAI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBaiThi] [int] NULL,
	[IdCauHoi] [int] NULL,
	[IdLuaChonDaChon] [int] NULL,
	[ThoiGianTraLoi] [datetime] NULL,
	[DaLuu] [bit] NULL,
	[CauTraLoiTuLuan] [nvarchar](max) NULL,
	[DiemDatDuoc] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUCAUHOI]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCAUHOI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](255) NULL,
	[Mota] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETHI]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETHI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDeThi] [nvarchar](50) NULL,
	[TenDeThi] [nvarchar](255) NULL,
	[ThoiGianLamBai] [int] NULL,
	[TongDiem] [float] NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[LinkTruyCap] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[ChecksumData] [nvarchar](500) NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETHI_CAUHOI]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETHI_CAUHOI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDeThi] [int] NULL,
	[IdCauHoi] [int] NULL,
	[TrongSo] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamAssignments]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamAssignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExamId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
	[AssignedBy] [int] NULL,
	[CustomStartTime] [datetime2](7) NULL,
	[ExtraMinutes] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KyThi]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyThi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaKyThi] [nvarchar](50) NOT NULL,
	[TenKyThi] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](1000) NULL,
	[LoaiKyThi] [nvarchar](100) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[ThoiGianBatDau] [datetime2](7) NULL,
	[ThoiGianKetThuc] [datetime2](7) NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[DonViToChuc] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAICAUHOI]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAICAUHOI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGTHAOTAC]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGTHAOTAC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBaiThi] [int] NULL,
	[LoaiThaoTac] [nvarchar](100) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[ThoiGian] [datetime] NULL,
	[DiaChi_IP] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUACHON]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUACHON](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCauHoi] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[LaDapAnDung] [bit] NULL,
	[ThuTu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReadAt] [datetime2](7) NULL,
	[RelatedUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIENDANGNHAP]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIENDANGNHAP](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTaiKhoan] [int] NULL,
	[Token] [nvarchar](max) NULL,
	[ThoiGianTao] [datetime] NULL,
	[ThoiGianHetHan] [datetime] NULL,
	[IP] [nvarchar](50) NULL,
	[ThietBi_UserAgent] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [nvarchar](50) NULL,
	[TenDangNhap] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](255) NULL,
	[ChucDanh] [nvarchar](100) NULL,
	[KhoaPhong] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[HoTen] [nvarchar](255) NULL,
	[IdVaiTro] [int] NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[LanDangNhapCuoi] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN_VAITRO]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN_VAITRO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTaiKhoan] [int] NULL,
	[IdVaiTro] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaVaiTro] [nvarchar](50) NULL,
	[TenVaiTro] [nvarchar](100) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PhucHuy].[RefreshTokens]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PhucHuy].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](500) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[IpAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [PhucHuy].[UserSessions]    Script Date: 21/05/2026 1:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PhucHuy].[UserSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[LastActivityAt] [datetime2](7) NULL,
	[IpAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[EndReason] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BAITHI] ON 

INSERT [dbo].[BAITHI] ([Id], [IdTaiKhoan], [IdDeThi], [TrangThai], [MaDeThi], [ThoiGianNop], [TongDiem], [SoCauDung], [TongSoCau], [TongSoCanhBao], [ThoiGianBatDau], [NgayCapNhat], [LyDoKetThuc]) VALUES (1, 6, 2, N'Completed', N'TEST_1779336377492', CAST(N'2026-05-21T11:06:18.210' AS DateTime), 2, 1, 1, 0, CAST(N'2026-05-21T11:06:17.8427673' AS DateTime2), NULL, NULL)
INSERT [dbo].[BAITHI] ([Id], [IdTaiKhoan], [IdDeThi], [TrangThai], [MaDeThi], [ThoiGianNop], [TongDiem], [SoCauDung], [TongSoCau], [TongSoCanhBao], [ThoiGianBatDau], [NgayCapNhat], [LyDoKetThuc]) VALUES (2, 1, 3, N'Completed', N'TEST_1779336429789', CAST(N'2026-05-21T11:07:10.117' AS DateTime), 0, 0, 1, 0, CAST(N'2026-05-21T11:07:09.9462056' AS DateTime2), NULL, NULL)
INSERT [dbo].[BAITHI] ([Id], [IdTaiKhoan], [IdDeThi], [TrangThai], [MaDeThi], [ThoiGianNop], [TongDiem], [SoCauDung], [TongSoCau], [TongSoCanhBao], [ThoiGianBatDau], [NgayCapNhat], [LyDoKetThuc]) VALUES (3, 8, 4, N'Completed', N'TEST_1779336491835', CAST(N'2026-05-21T11:08:12.173' AS DateTime), 0, 0, 1, 0, CAST(N'2026-05-21T11:08:11.9902897' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[BAITHI] OFF
GO
SET IDENTITY_INSERT [dbo].[CANHBAOGIANLAN] ON 

INSERT [dbo].[CANHBAOGIANLAN] ([Id], [IdBaiThi], [LoaiCanhBao], [MoTa], [ThoiGian], [SoLanViPham], [MucDoNghiemTrong], [CorrelationId]) VALUES (3, 1, N'TAB_SWITCH', N'Test automation warning', CAST(N'2026-05-21T11:06:18.093' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[CANHBAOGIANLAN] ([Id], [IdBaiThi], [LoaiCanhBao], [MoTa], [ThoiGian], [SoLanViPham], [MucDoNghiemTrong], [CorrelationId]) VALUES (4, 2, N'TAB_SWITCH', N'Test automation warning', CAST(N'2026-05-21T11:07:10.047' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[CANHBAOGIANLAN] ([Id], [IdBaiThi], [LoaiCanhBao], [MoTa], [ThoiGian], [SoLanViPham], [MucDoNghiemTrong], [CorrelationId]) VALUES (5, 3, N'TAB_SWITCH', N'Test automation warning', CAST(N'2026-05-21T11:08:12.100' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CANHBAOGIANLAN] OFF
GO
SET IDENTITY_INSERT [dbo].[CAUHOI] ON 

INSERT [dbo].[CAUHOI] ([Id], [IdDanhMuc], [IdLoaiCauHoi], [NoiDung], [Diem], [NguoiTao], [NgayTao], [NgayCapNhat], [NguoiCapNhat], [DaXoa], [DoKho], [KhoaPhong], [HinhAnh]) VALUES (1, NULL, NULL, N'Từ khóa nào được sử dụng để khai báo một lớp trong C#?', 1, 1, CAST(N'2026-05-21T07:32:32.100' AS DateTime), NULL, NULL, 0, N'Dễ', N'CNTT', NULL)
INSERT [dbo].[CAUHOI] ([Id], [IdDanhMuc], [IdLoaiCauHoi], [NoiDung], [Diem], [NguoiTao], [NgayTao], [NgayCapNhat], [NguoiCapNhat], [DaXoa], [DoKho], [KhoaPhong], [HinhAnh]) VALUES (2, NULL, NULL, N'Phương thức nào được gọi đầu tiên khi một đối tượng được tạo ra?', 1, 1, CAST(N'2026-05-21T07:32:32.100' AS DateTime), NULL, NULL, 0, N'Trung bình', N'CNTT', NULL)
INSERT [dbo].[CAUHOI] ([Id], [IdDanhMuc], [IdLoaiCauHoi], [NoiDung], [Diem], [NguoiTao], [NgayTao], [NgayCapNhat], [NguoiCapNhat], [DaXoa], [DoKho], [KhoaPhong], [HinhAnh]) VALUES (3, NULL, NULL, N'Từ khóa nào được sử dụng để kế thừa từ một lớp khác trong C#?', 1, 1, CAST(N'2026-05-21T07:32:32.103' AS DateTime), NULL, NULL, 0, N'Dễ', N'CNTT', NULL)
SET IDENTITY_INSERT [dbo].[CAUHOI] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETLAMBAI] ON 

INSERT [dbo].[CHITIETLAMBAI] ([Id], [IdBaiThi], [IdCauHoi], [IdLuaChonDaChon], [ThoiGianTraLoi], [DaLuu], [CauTraLoiTuLuan], [DiemDatDuoc]) VALUES (8, 1, 8, 33, CAST(N'2026-05-21T11:06:18.190' AS DateTime), 1, NULL, 2)
INSERT [dbo].[CHITIETLAMBAI] ([Id], [IdBaiThi], [IdCauHoi], [IdLuaChonDaChon], [ThoiGianTraLoi], [DaLuu], [CauTraLoiTuLuan], [DiemDatDuoc]) VALUES (9, 2, 9, 43, CAST(N'2026-05-21T11:07:10.103' AS DateTime), 1, NULL, 0)
INSERT [dbo].[CHITIETLAMBAI] ([Id], [IdBaiThi], [IdCauHoi], [IdLuaChonDaChon], [ThoiGianTraLoi], [DaLuu], [CauTraLoiTuLuan], [DiemDatDuoc]) VALUES (10, 3, 10, 50, CAST(N'2026-05-21T11:08:12.163' AS DateTime), 1, NULL, 0)
SET IDENTITY_INSERT [dbo].[CHITIETLAMBAI] OFF
GO
SET IDENTITY_INSERT [dbo].[DANHMUCAUHOI] ON 

INSERT [dbo].[DANHMUCAUHOI] ([Id], [TenDanhMuc], [Mota]) VALUES (1, N'L?p trình C#', N'Câu h?i v? ngôn ng? l?p trình C#')
INSERT [dbo].[DANHMUCAUHOI] ([Id], [TenDanhMuc], [Mota]) VALUES (2, N'Co s? d? li?u', N'Câu h?i v? SQL Server, MySQL')
INSERT [dbo].[DANHMUCAUHOI] ([Id], [TenDanhMuc], [Mota]) VALUES (3, N'ASP.NET Core', N'Câu h?i v? framework ASP.NET Core')
SET IDENTITY_INSERT [dbo].[DANHMUCAUHOI] OFF
GO
SET IDENTITY_INSERT [dbo].[DETHI] ON 

INSERT [dbo].[DETHI] ([Id], [MaDeThi], [TenDeThi], [ThoiGianLamBai], [TongDiem], [ThoiGianBatDau], [LinkTruyCap], [TrangThai], [NguoiTao], [NgayTao], [ChecksumData], [NguoiCapNhat], [NgayCapNhat]) VALUES (1, N'TEST001', N'Đề thi C# cơ bản', 60, 5, CAST(N'2026-05-21T08:00:00.000' AS DateTime), N'/exam/TEST001?t=1779325133&token=ac9a9d72', N'Active', 1, CAST(N'2026-05-21T00:58:53.250' AS DateTime), N'dpxMhQaBgciu8fo9bfinSAw7P5hoKCi6bCnk4TbtLhU=', NULL, NULL)
INSERT [dbo].[DETHI] ([Id], [MaDeThi], [TenDeThi], [ThoiGianLamBai], [TongDiem], [ThoiGianBatDau], [LinkTruyCap], [TrangThai], [NguoiTao], [NgayTao], [ChecksumData], [NguoiCapNhat], [NgayCapNhat]) VALUES (2, N'TEST_1779336377492', N'Đề thi test automation', 30, 1, CAST(N'2026-05-21T04:05:17.493' AS DateTime), N'/exam/TEST_1779336377492?t=1779336377&token=1258c692', N'Active', 1, CAST(N'2026-05-21T04:06:17.573' AS DateTime), N'LpjGE1wbnhc0WOCVu0ihfHvz1/pK2DJx7L+oBq8pHu4=', NULL, NULL)
INSERT [dbo].[DETHI] ([Id], [MaDeThi], [TenDeThi], [ThoiGianLamBai], [TongDiem], [ThoiGianBatDau], [LinkTruyCap], [TrangThai], [NguoiTao], [NgayTao], [ChecksumData], [NguoiCapNhat], [NgayCapNhat]) VALUES (3, N'TEST_1779336429789', N'Đề thi test automation', 30, 1, CAST(N'2026-05-21T04:06:09.790' AS DateTime), N'/exam/TEST_1779336429789?t=1779336429&token=b82c4b35', N'Active', 1, CAST(N'2026-05-21T04:07:09.807' AS DateTime), N'g6K225C4dFjnQol0bdrOtFDDlhc4ZhuNXhMA5p4MMj4=', NULL, NULL)
SET IDENTITY_INSERT [dbo].[DETHI] OFF
GO
SET IDENTITY_INSERT [dbo].[DETHI_CAUHOI] ON 

INSERT [dbo].[DETHI_CAUHOI] ([Id], [IdDeThi], [IdCauHoi], [TrongSo]) VALUES (15, 1, 1, NULL)
INSERT [dbo].[DETHI_CAUHOI] ([Id], [IdDeThi], [IdCauHoi], [TrongSo]) VALUES (16, 1, 2, NULL)
INSERT [dbo].[DETHI_CAUHOI] ([Id], [IdDeThi], [IdCauHoi], [TrongSo]) VALUES (17, 1, 3, NULL)
SET IDENTITY_INSERT [dbo].[DETHI_CAUHOI] OFF
GO
SET IDENTITY_INSERT [dbo].[ExamAssignments] ON 

INSERT [dbo].[ExamAssignments] ([Id], [ExamId], [UserId], [AssignedAt], [AssignedBy], [CustomStartTime], [ExtraMinutes], [IsActive], [Note]) VALUES (1, 2, 6, CAST(N'2026-05-21T04:06:17.7021205' AS DateTime2), NULL, NULL, NULL, 1, N'Test assignment')
INSERT [dbo].[ExamAssignments] ([Id], [ExamId], [UserId], [AssignedAt], [AssignedBy], [CustomStartTime], [ExtraMinutes], [IsActive], [Note]) VALUES (2, 3, 7, CAST(N'2026-05-21T04:07:09.8833690' AS DateTime2), NULL, NULL, NULL, 1, N'Test assignment')
INSERT [dbo].[ExamAssignments] ([Id], [ExamId], [UserId], [AssignedAt], [AssignedBy], [CustomStartTime], [ExtraMinutes], [IsActive], [Note]) VALUES (3, 4, 8, CAST(N'2026-05-21T04:08:11.9301010' AS DateTime2), NULL, NULL, NULL, 1, N'Test assignment')
SET IDENTITY_INSERT [dbo].[ExamAssignments] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAICAUHOI] ON 

INSERT [dbo].[LOAICAUHOI] ([Id], [TenLoai], [MoTa]) VALUES (1, N'Tr?c nghi?m', N'Câu h?i tr?c nghi?m 4 dáp án')
INSERT [dbo].[LOAICAUHOI] ([Id], [TenLoai], [MoTa]) VALUES (2, N'Ðúng/Sai', N'Câu h?i dúng ho?c sai')
INSERT [dbo].[LOAICAUHOI] ([Id], [TenLoai], [MoTa]) VALUES (3, N'T? lu?n', N'Câu h?i t? lu?n ng?n')
SET IDENTITY_INSERT [dbo].[LOAICAUHOI] OFF
GO
SET IDENTITY_INSERT [dbo].[LOGTHAOTAC] ON 

INSERT [dbo].[LOGTHAOTAC] ([Id], [IdBaiThi], [LoaiThaoTac], [ChiTiet], [ThoiGian], [DiaChi_IP], [UserAgent]) VALUES (0, NULL, N'POST_API_AUTH_LOGIN', N'POST /api/auth/login -> 200', CAST(N'2026-05-21T10:55:02.967' AS DateTime), N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0')
INSERT [dbo].[LOGTHAOTAC] ([Id], [IdBaiThi], [LoaiThaoTac], [ChiTiet], [ThoiGian], [DiaChi_IP], [UserAgent]) VALUES (1, NULL, N'POST_API_AUTH_LOGIN', N'POST /api/auth/login -> 200', CAST(N'2026-05-21T11:00:51.457' AS DateTime), N'::1', N'Mozilla/5.0 (Windows NT; Windows NT 10.0; en-US) WindowsPowerShell/5.1.26100.8457')
INSERT [dbo].[LOGTHAOTAC] ([Id], [IdBaiThi], [LoaiThaoTac], [ChiTiet], [ThoiGian], [DiaChi_IP], [UserAgent]) VALUES (2, NULL, N'POST_API_AUTH_LOGIN', N'POST /api/auth/login -> 200', CAST(N'2026-05-21T11:06:15.397' AS DateTime), N'::1', N'axios/1.16.1')
GO
SET IDENTITY_INSERT [dbo].[LOGTHAOTAC] OFF
GO
SET IDENTITY_INSERT [dbo].[LUACHON] ON 

INSERT [dbo].[LUACHON] ([Id], [IdCauHoi], [NoiDung], [LaDapAnDung], [ThuTu]) VALUES (1, 1, N'class', 1, 1)
INSERT [dbo].[LUACHON] ([Id], [IdCauHoi], [NoiDung], [LaDapAnDung], [ThuTu]) VALUES (2, 1, N'struct', 0, 2)
INSERT [dbo].[LUACHON] ([Id], [IdCauHoi], [NoiDung], [LaDapAnDung], [ThuTu]) VALUES (3, 1, N'interface', 0, 3)
GO
SET IDENTITY_INSERT [dbo].[LUACHON] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [Type], [IsRead], [CreatedAt], [ReadAt], [RelatedUrl]) VALUES (1, 6, N'Test Notification', N'This is a test notification from automation', N'Info', 0, CAST(N'2026-05-21T04:06:18.7010361' AS DateTime2), NULL, NULL)
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [Type], [IsRead], [CreatedAt], [ReadAt], [RelatedUrl]) VALUES (2, NULL, N'Broadcast Test', N'Broadcast from automation test', N'Info', 1, CAST(N'2026-05-21T04:06:18.7720481' AS DateTime2), CAST(N'2026-05-21T04:06:18.8174111' AS DateTime2), NULL)
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [Type], [IsRead], [CreatedAt], [ReadAt], [RelatedUrl]) VALUES (3, 7, N'Test Notification', N'This is a test notification from automation', N'Info', 0, CAST(N'2026-05-21T04:07:10.3722756' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([Id], [MaNhanVien], [TenDangNhap], [MatKhau], [ChucDanh], [KhoaPhong], [Email], [HoTen], [IdVaiTro], [TrangThai], [NgayTao], [NgayCapNhat], [LanDangNhapCuoi]) VALUES (1, N'NV001', N'admin', N'$2a$12$ZHvc90/Olb3f9Xx..FEbxegmk8HVZPsA2ARlOYOnvL.lsYnsj.mpi', N'Qu?n tr? viên', N'CNTT', N'admin@bantayvang.vn', N'Qu?n tr? viên h? th?ng', 1, 1, CAST(N'2026-05-20T19:11:09.4166667' AS DateTime2), NULL, CAST(N'2026-05-21T12:54:55.5106810' AS DateTime2))
INSERT [dbo].[TAIKHOAN] ([Id], [MaNhanVien], [TenDangNhap], [MatKhau], [ChucDanh], [KhoaPhong], [Email], [HoTen], [IdVaiTro], [TrangThai], [NgayTao], [NgayCapNhat], [LanDangNhapCuoi]) VALUES (2, N'GV001', N'giaovien1', N'gv123', N'Giáo viên', N'CNTT', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[TAIKHOAN] ([Id], [MaNhanVien], [TenDangNhap], [MatKhau], [ChucDanh], [KhoaPhong], [Email], [HoTen], [IdVaiTro], [TrangThai], [NgayTao], [NgayCapNhat], [LanDangNhapCuoi]) VALUES (3, N'SV001', N'sinhvien1', N'sv123', N'Sinh viên', N'CNTT', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN_VAITRO] ON 

INSERT [dbo].[TAIKHOAN_VAITRO] ([Id], [IdTaiKhoan], [IdVaiTro]) VALUES (1, 1, 1)
INSERT [dbo].[TAIKHOAN_VAITRO] ([Id], [IdTaiKhoan], [IdVaiTro]) VALUES (2, 2, 2)
INSERT [dbo].[TAIKHOAN_VAITRO] ([Id], [IdTaiKhoan], [IdVaiTro]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[TAIKHOAN_VAITRO] OFF
GO
SET IDENTITY_INSERT [dbo].[VAITRO] ON 

INSERT [dbo].[VAITRO] ([Id], [MaVaiTro], [TenVaiTro], [MoTa]) VALUES (1, N'ADMIN', N'Admin', N'Qu?n tr? viên h? th?ng')
INSERT [dbo].[VAITRO] ([Id], [MaVaiTro], [TenVaiTro], [MoTa]) VALUES (2, N'GIAOVIEN', N'GiaoVien', N'Giáo viên t?o d? thi')
INSERT [dbo].[VAITRO] ([Id], [MaVaiTro], [TenVaiTro], [MoTa]) VALUES (3, N'SINHVIEN', N'SinhVien', N'Sinh viên làm bài thi')
SET IDENTITY_INSERT [dbo].[VAITRO] OFF
GO
SET IDENTITY_INSERT [PhucHuy].[RefreshTokens] ON 

INSERT [PhucHuy].[RefreshTokens] ([Id], [Token], [UserId], [CreatedAt], [ExpiresAt], [IsUsed], [IsRevoked], [IpAddress], [UserAgent]) VALUES (1, N'UX9WMamB3h57+0JeZvTwI3Il+AHLbdjPqJSgc1uJhE82YjZ0tDNv/Utym1VxAK7K9zHoYRJFe03o/I4B/Sx9Rg==', 1, CAST(N'2026-05-20T12:20:55.2614446' AS DateTime2), CAST(N'2026-06-19T12:20:55.2615169' AS DateTime2), 0, 0, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0')
INSERT [PhucHuy].[RefreshTokens] ([Id], [Token], [UserId], [CreatedAt], [ExpiresAt], [IsUsed], [IsRevoked], [IpAddress], [UserAgent]) VALUES (2, N'zq4xgJ9L6N2ZxoTxrTTKkzojy6uAAZP1Ref27mwIRhklMr47bHiIVA6ISoLcKzF9tMBZADh36UTaCfgYboMxgg==', 1, CAST(N'2026-05-20T12:36:35.4460057' AS DateTime2), CAST(N'2026-06-19T12:36:35.4460512' AS DateTime2), 0, 0, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0')
INSERT [PhucHuy].[RefreshTokens] ([Id], [Token], [UserId], [CreatedAt], [ExpiresAt], [IsUsed], [IsRevoked], [IpAddress], [UserAgent]) VALUES (3, N'Nev8r/sY4XQHSPHS6aLW4xf75KF/1Y65nm5SNShywxGbEc3RyL4uKmlHfRT0a9otBibtSzimpZjAUa7rhObpSA==', 1, CAST(N'2026-05-21T00:16:22.4401464' AS DateTime2), CAST(N'2026-06-20T00:16:22.4402247' AS DateTime2), 0, 0, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0')
SET IDENTITY_INSERT [PhucHuy].[RefreshTokens] OFF
GO
SET IDENTITY_INSERT [PhucHuy].[UserSessions] ON 

INSERT [PhucHuy].[UserSessions] ([Id], [SessionId], [UserId], [CreatedAt], [ExpiresAt], [LastActivityAt], [IpAddress], [UserAgent], [IsActive], [EndReason]) VALUES (1, N'5643327c-007f-48cf-b5ef-366fc2dbb247', 1, CAST(N'2026-05-20T12:20:55.4936968' AS DateTime2), CAST(N'2026-05-21T12:20:55.4937524' AS DateTime2), NULL, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0', 1, NULL)
INSERT [PhucHuy].[UserSessions] ([Id], [SessionId], [UserId], [CreatedAt], [ExpiresAt], [LastActivityAt], [IpAddress], [UserAgent], [IsActive], [EndReason]) VALUES (2, N'81808974-d1c1-42ff-8945-3d61b51c754e', 1, CAST(N'2026-05-20T12:36:35.6027487' AS DateTime2), CAST(N'2026-05-21T12:36:35.6027891' AS DateTime2), NULL, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0', 1, NULL)
INSERT [PhucHuy].[UserSessions] ([Id], [SessionId], [UserId], [CreatedAt], [ExpiresAt], [LastActivityAt], [IpAddress], [UserAgent], [IsActive], [EndReason]) VALUES (3, N'16beed49-e464-4b18-a9ac-4f70cb09e445', 1, CAST(N'2026-05-21T00:16:22.6046092' AS DateTime2), CAST(N'2026-05-22T00:16:22.6046624' AS DateTime2), NULL, N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0', 1, NULL)
SET IDENTITY_INSERT [PhucHuy].[UserSessions] OFF
GO
/****** Object:  Index [UQ_ExamAssignments_ExamUser]    Script Date: 21/05/2026 1:33:20 CH ******/
ALTER TABLE [dbo].[ExamAssignments] ADD  CONSTRAINT [UQ_ExamAssignments_ExamUser] UNIQUE NONCLUSTERED 
(
	[ExamId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RefreshT__1EB4F817A8959DFA]    Script Date: 21/05/2026 1:33:20 CH ******/
ALTER TABLE [PhucHuy].[RefreshTokens] ADD UNIQUE NONCLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserSess__C9F492918A706DE4]    Script Date: 21/05/2026 1:33:20 CH ******/
ALTER TABLE [PhucHuy].[UserSessions] ADD UNIQUE NONCLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CaThi] ADD  DEFAULT ('ChuaBatDau') FOR [TrangThai]
GO
ALTER TABLE [dbo].[CAUHOI] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[CHITIETLAMBAI] ADD  DEFAULT ((0)) FOR [DaLuu]
GO
ALTER TABLE [dbo].[ExamAssignments] ADD  DEFAULT (getutcdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[ExamAssignments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[KyThi] ADD  DEFAULT ('DangChuanBi') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KyThi] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('Info') FOR [Type]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [PhucHuy].[RefreshTokens] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [PhucHuy].[RefreshTokens] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [PhucHuy].[UserSessions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BAITHI]  WITH CHECK ADD FOREIGN KEY([IdDeThi])
REFERENCES [dbo].[DETHI] ([Id])
GO
ALTER TABLE [dbo].[BAITHI]  WITH CHECK ADD FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TAIKHOAN] ([Id])
GO
ALTER TABLE [dbo].[CANHBAOGIANLAN]  WITH CHECK ADD FOREIGN KEY([IdBaiThi])
REFERENCES [dbo].[BAITHI] ([Id])
GO
ALTER TABLE [dbo].[CaThi]  WITH CHECK ADD  CONSTRAINT [FK_CaThi_DeThi] FOREIGN KEY([DeThiId])
REFERENCES [dbo].[DETHI] ([Id])
GO
ALTER TABLE [dbo].[CaThi] CHECK CONSTRAINT [FK_CaThi_DeThi]
GO
ALTER TABLE [dbo].[CaThi]  WITH CHECK ADD  CONSTRAINT [FK_CaThi_KyThi] FOREIGN KEY([KyThiId])
REFERENCES [dbo].[KyThi] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CaThi] CHECK CONSTRAINT [FK_CaThi_KyThi]
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD FOREIGN KEY([IdDanhMuc])
REFERENCES [dbo].[DANHMUCAUHOI] ([Id])
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD FOREIGN KEY([IdLoaiCauHoi])
REFERENCES [dbo].[LOAICAUHOI] ([Id])
GO
ALTER TABLE [dbo].[CHITIETLAMBAI]  WITH CHECK ADD FOREIGN KEY([IdBaiThi])
REFERENCES [dbo].[BAITHI] ([Id])
GO
ALTER TABLE [dbo].[CHITIETLAMBAI]  WITH CHECK ADD FOREIGN KEY([IdCauHoi])
REFERENCES [dbo].[CAUHOI] ([Id])
GO
ALTER TABLE [dbo].[CHITIETLAMBAI]  WITH CHECK ADD FOREIGN KEY([IdLuaChonDaChon])
REFERENCES [dbo].[LUACHON] ([Id])
GO
ALTER TABLE [dbo].[DETHI_CAUHOI]  WITH CHECK ADD FOREIGN KEY([IdCauHoi])
REFERENCES [dbo].[CAUHOI] ([Id])
GO
ALTER TABLE [dbo].[DETHI_CAUHOI]  WITH CHECK ADD FOREIGN KEY([IdDeThi])
REFERENCES [dbo].[DETHI] ([Id])
GO
ALTER TABLE [dbo].[ExamAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ExamAssignments_Exam] FOREIGN KEY([ExamId])
REFERENCES [dbo].[DETHI] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamAssignments] CHECK CONSTRAINT [FK_ExamAssignments_Exam]
GO
ALTER TABLE [dbo].[ExamAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ExamAssignments_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[TAIKHOAN] ([Id])
GO
ALTER TABLE [dbo].[ExamAssignments] CHECK CONSTRAINT [FK_ExamAssignments_User]
GO
ALTER TABLE [dbo].[LOGTHAOTAC]  WITH CHECK ADD FOREIGN KEY([IdBaiThi])
REFERENCES [dbo].[BAITHI] ([Id])
GO
ALTER TABLE [dbo].[LUACHON]  WITH CHECK ADD FOREIGN KEY([IdCauHoi])
REFERENCES [dbo].[CAUHOI] ([Id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TAIKHOAN] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_UserId]
GO
ALTER TABLE [dbo].[PHIENDANGNHAP]  WITH CHECK ADD FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TAIKHOAN] ([Id])
GO
ALTER TABLE [dbo].[TAIKHOAN_VAITRO]  WITH CHECK ADD FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TAIKHOAN] ([Id])
GO
ALTER TABLE [dbo].[TAIKHOAN_VAITRO]  WITH CHECK ADD FOREIGN KEY([IdVaiTro])
REFERENCES [dbo].[VAITRO] ([Id])
GO
ALTER TABLE [PhucHuy].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TAIKHOAN] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [PhucHuy].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_UserId]
GO
ALTER TABLE [PhucHuy].[UserSessions]  WITH CHECK ADD  CONSTRAINT [FK_UserSessions_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TAIKHOAN] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [PhucHuy].[UserSessions] CHECK CONSTRAINT [FK_UserSessions_UserId]
GO
/****** Object:  StoredProcedure [PhucHuy].[CleanupExpiredTokens]    Script Date: 21/05/2026 1:33:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [PhucHuy].[CleanupExpiredTokens]
    AS
    BEGIN
        SET NOCOUNT ON;
        
        DECLARE @DeletedTokens int = 0;
        DECLARE @DeletedSessions int = 0;
        
        -- Delete expired refresh tokens
        DELETE FROM RefreshTokens 
        WHERE ExpiresAt <= GETDATE() OR IsUsed = 1 OR IsRevoked = 1;
        SET @DeletedTokens = @@ROWCOUNT;
        
        -- Mark expired sessions as inactive
        UPDATE UserSessions 
        SET IsActive = 0, EndReason = 'Expired', LastActivityAt = GETDATE()
        WHERE ExpiresAt <= GETDATE() AND IsActive = 1;
        SET @DeletedSessions = @@ROWCOUNT;
        
        PRINT 'Cleanup completed: ' + CAST(@DeletedTokens AS varchar) + ' tokens deleted, ' + CAST(@DeletedSessions AS varchar) + ' sessions expired';
    END
    
GO
